body{
    font-family: Arial, sans-serif;
}

#search {
    
	display: block;
    margin: auto;
    width: 90%;
    height: 3%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
}

.list-results{
    width: 50%;
    margin: auto;
}

.list-results li{
    list-style-type: none;
    padding: 1em 1em 1em 1em;
    margin-bottom: 0.3em;
}

.list-results li img{
    float: left;
    height: 4em;
    width: 4em;
    display:block;
}

.recipe-info-wrapper{
    background-color: purple;
    float: right;
}

.badge{
    margin-left: 10px;
    float: right;
}

.icon{
    width: 1.5rem;
    height: 1.5rem;
}

.recipe-info{
    float: left;
    font-size: 1.5rem;
}

.recipe-buttons{
    float: right;
}

.recipe-buttons img{
    width: 2rem;
    height: 2rem;
    display: block;
}


#top-icon{
    margin-bottom: 2rem;
}

.cook-time{
    float: left;
}

.calorie-count{
    text-align: center;
}

.recipe-image{
    display: block;
    float: left;
    height: 100%;
    width: 9rem;
}

.recipe-card{
    width: 50%;
    height: 9rem;
    margin: auto;    
}

.stats{
    margin-top: 1.5rem;
}
