body{
    font-family: Arial, sans-serif;
}

#search {
    display: block;
    margin: auto;
    width: 30%;
    height: 3%;
}

.list-results{
    width: 50%;
    margin: auto;
}

.list-results li{
    list-style-type: none;
    padding: 1em 1em 1em 1em;
    margin-bottom: 0.3em;
}

.list-results li img{
    float: left;
    height: 4em;
    width: 4em;
    display:block;
}

.recipe-info-wrapper{
    background-color: purple;
    float: right;
}