body{
    font-family: Arial, sans-serif;
}

#search {
    display: block;
    margin: auto;
    width: 30%;
    height: 3%;
}

#nav-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: bisque;
}
.nav-option{
    display: inline-block;
    margin-right: -0.3%;
    height: 3em;
    width: 24%;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    line-height: 3em;
    font-size: 20px;
    text-decoration: none;
    color: black;
}