ul {
    list-style-type: none;
}

body{
    font-family: Arial, sans-serif;
}

#search {
	display: block;
    margin: auto;
    width: 90%;
    height: 3%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
}

.recipe-info{
    float: left;
}

.recipe-buttons{
    float: right;
    font-size: 30px;
}

.recipe-buttons button {
    display: inline-flex;
    align-items: center;
}

.recipe-buttons i {
    padding-right: 5px;
    font-size: 30px;
}

.top-button{
    margin-bottom: 1.2rem;
}

.cook-time{
    display: inline-flex;
    align-items: center;
}

.recipe-image{
    display: block;
    float: left;
    height: 100%;
    width: 9rem;
}

.recipe-card{
    width: 65%;
    height: 9rem;
    margin: auto;    
}

.stats{
    text-align: left;
    font-size: 16px;
}
.stats i {
    font-size: 16px;
    padding-right: 4px;
    position: relative;
    bottom: 1px;
}

.filters {
    width: 13%;
    float: left;
}

.filter{
    font-size: 1.2rem;
}

.filter-title {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}
