body{
    font-family: Arial, sans-serif;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);;
}

.title{
    font-size: 30px;
    text-align: center;
    padding-top: 30px; 
}

.form-group{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

#submit{
    display: block;
    margin: auto;
    margin-top: 25px;
    width: 80%
}

.loginform{
    display: block;
    margin: auto;
    width: 400px;
    height: 300px;
    background: white;
    margin-top: 18%;
    margin-bottom: 18%;
}