body{
    font-family: Arial, sans-serif;
}

.profile-info-wrapper{
	float:left;
	margin-bottom:1rem;
	
	display: inline-block;
	background-color:white;
	width: 14rem;
}

.profile-image{
	width:90%;
	height:90%;
	display:block;
	margin:auto;
}

.profile-info{
	margin-left:2rem;
	margin-right:0rem;
	float:left;
	height:100%;
}

.profile-info-name{
	margin-top:1rem;
}

.list-group{
	margin-left:2rem;
	margin-right:2rem;
}

#logout{
	color: red;
}

.nutrition-info-wrapper{
	height:50rem;
	display: inline-block;
	float: right;
	width: 75%;
}

.nutrition-header{
	margin-top:1rem;
	padding-left: 20px;
}

canvas{
	width:10%;
}


.graph-container{
	background-color:white;
	width:100%;
	margin-left: 100px;
	margin-top: 2%;
}