body{
    font-family: Arial, sans-serif;
}

.profile-info-wrapper{
	margin-right:2rem;
	margin-left:2rem;
	margin-top:2rem;
	height: 20rem;
	margin-bottom:2rem;
}

.profile-image{
	float:left;
	height:100%;
	width: 20rem;
}

#image{
	height:100%;
	width: 100%;
}

.profile-info{
	margin-left:2rem;
	margin-right:0rem;
	float:left;
	height:100%;
}

.profile-info-name{
	margin-top:1rem;
}

.list-group{
	margin-left:2rem;
	margin-right:2rem;
}

